html {scroll-behavior: smooth;}
body {
    margin: 0px;
    background-color: whitesmoke;
}
h1 {
    font-size: 64px;
    margin: 0px;
}
h2 {
    margin: 0px;
    font-size: 46px;
}
h3 {
    font-size: 30px;
    margin: 0px;
}
ul {margin: 0px;}
li {
    font-size: 20px;
    color: rgb(150, 150, 150);
}
p {
    color: rgb(150, 150, 150);
    font-size: 20px;
}

nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: rgb(20, 28, 20);
}
.navigation {
    padding-right: 20px;
    font-size: 24px;
    color: whitesmoke;
    text-decoration: none;
    position: relative;
    transition: color 0.2s;
}
.navigation:hover:before {
    content: "";
    position: absolute;
    top: -8px;
    left: 10px;
    margin-right: 20px;
    border-radius: 50%;
    border: solid;
    width: 40px;
    height: 40px;
    border-width: 2px;
}
.navigation:hover {
    color: rgb(0, 255, 0);
}

.main {
    width: 100%;
    height: 1000px;
    background-size: cover;
    background-image: url(pictures/forest.JPG);
    padding: 50px 0px 50px 0px;
    display: flex;
    align-items: center;
}
.home-text {
    width: 700px;
    color: whitesmoke;
    margin-left: 10%;
}
#explanation {
    font-size: 22px;
}

.ABOUT {
    padding: 50px 0px 50px 0px;
}

.EXPERTISE {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    background-color: rgb(236, 255, 232);
}
.icons {
    width: 100px;
}
.skills-text {
    width: 300px;
}

.WORK {
    padding: 50px 0px 50px 0px;
}
.work-experience{
    display: flex;
    align-items: center;
    padding-top: 50px;
}
.images {
    width: 600px;
}
#lauran-jalkahoitola {
    background-color: rgb(236, 255, 232);
}

.contact-information {
    background-color: rgb(236, 255, 232);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact {
    margin: 0px;
}
form {
}
.form-label {
    font-size: 20px;
    color: rgb(150, 150, 150);
}
.form-input {
    width: 300px;
    height: 30px;
    border-radius: 15px;
    margin-bottom: 20px;
}
#form-button {
    border-radius: 15px;
    background-color: rgb(20, 28, 20);
    font-size: 20px;
    color: whitesmoke;
    padding: 5px 20px 5px 20px;
}
#form-button:hover {
    color: rgb(0, 255, 0);
}

footer {
    width: 100%;
    height: 200px;
    background-color: rgb(20, 28, 20);
    display: flex;
}
.footer-box {
    width: 33%;
}
.footer-links {
    text-decoration: none;
    font-size: 20px;
    color: rgb(150, 150, 150);
    display: block;
    position: relative;
    transition: color 0.2s;
}
.footer-links:hover {
    color: rgb(0, 255, 0)
}
#footer-info {
    color: rgb(150, 150, 150);
}
.footer-headline {
    color: rgb(236, 255, 232);
    margin: 0px;
}
.footer-contact {
    color: rgb(150, 150, 150);
}