html {scroll-behavior: smooth;}
body {
    margin: 0px;
    background-color: whitesmoke;
}
h1 {
    font-size: 64px;
    margin: 0px;
}
h2 {
    margin: 0px;
    font-size: 46px;
}
h3 {
    font-size: 30px;
    margin: 0px;
    margin-bottom: 20px;
}
ul {margin: 0px;}
li {
    font-size: 20px;
    color: rgb(150, 150, 150);
    margin-bottom: 14px;
}
p {
    color: rgb(150, 150, 150);
    font-size: 20px;
}
.headlines {
    width: 100%;
    text-align: center;
    padding: 20px 0 20px 0;
}


/* Navigation */
nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: rgb(20, 28, 20);
}
.navigation {
    padding-right: 20px;
    font-size: 24px;
    color: whitesmoke;
    text-decoration: none;
    position: relative;
    transition: color 1s;
}
.navigation:hover {
    color: rgb(0, 255, 0);
}

/* Main */
.main {
    width: 100%;
    height: 1000px;
    background-size: cover;
    background-image: url(pictures/forest.JPG);
    padding: 50px 0px 50px 0px;
    display: flex;
    align-items: center;
}
.home-text {
    width: 700px;
    color: whitesmoke;
    margin-left: 10%;
}
#explanation {
    font-size: 22px;
}

/* About */
.about {
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-container {
    margin: 20px;
}
#about-text {
    width: 500px;
}
#about-picture {
    width: 500px;
    border-radius: 50%;
}

/* Expertise */
.expertise {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    background-color: rgb(236, 255, 232);
}
.icons {
    width: 100px;
}
.skills-text {
    width: 300px;
}

/* Work */
.work {
    padding: 50px 0px 50px 0px;
    width: 100%;
}
.work-experience{
    display: flex;
    align-items: center;
    padding-top: 50px;
}
.work-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.work-text {
    width: 600px;
}
.images {
    width: 600px;
    border-radius: 10px;
    border: 1px solid black;
    position: relative;
}
.images:hover {
    opacity: 0.9;
    background-color: black;
}
.work-links {
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}
#lauran-jalkahoitola {
    background-color: rgb(236, 255, 232);
}

/* Contact */
.contact-information {
    background-color: rgb(236, 255, 232);
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact {
    margin: 0px;
}
.form-label {
    font-size: 20px;
    color: rgb(150, 150, 150);
    width: 300px;
}
.form-input {
    width: 300px;
    height: 50px;
    border-radius: 15px;
    margin: 10px 0px 20px 0px;
    font-size: 20px;
}
#form-button {
    border-radius: 15px;
    background-color: rgb(20, 28, 20);
    font-size: 20px;
    color: whitesmoke;
    width: 1000px;
    padding: 5px 20px 5px 20px;
    margin-top: 20px;
}
#form-button:hover {
    color: rgb(0, 255, 0);
}
#form-text {
    width: 1000px;
    height: 200px;
    border-radius: 15px;
    font-size: 20px;
}
.form-container {
    display: flex;
    justify-content:space-evenly;
}

/* Footer */
footer {
    width: 100%;
    height: 200px;
    background-color: rgb(20, 28, 20);
    display: flex;
    justify-content: center;
    z-index: -1;
}
.footer-box {
    width: 300px;
}
#footer-navigation {
    position: relative;
    left: 80px;
}
.footer-links {
    text-decoration: none;
    font-size: 20px;
    color: rgb(150, 150, 150);
    display: block;
    position: relative;
    transition: color 0.2s;
    width: 65px;
}
.footer-links:hover {
    color: rgb(0, 255, 0)
}
#footer-info {
    color: rgb(150, 150, 150);
}
.footer-headline {
    color: rgb(236, 255, 232);
    margin: 10px 0px 0px 0px;
}
.footer-contact {
    color: rgb(150, 150, 150);
}
.footer-icon {
    width: 50px;
    margin: 10px;
    position: relative;
}
.footer-icon-link {
    text-decoration: none;
}