html {scroll-behavior: smooth;}
body {
    margin: 0px;
    background-color: whitesmoke;
}
h1 {
    font-size: 64px;
    margin: 0px;
}
h2 {
    margin: 0px;
    font-size: 46px;
}
h3 {
    font-size: 30px;
    margin: 0px;
    margin-bottom: 20px;
}
ul {margin: 0px;}
li {
    font-size: 20px;
    color: rgb(150, 150, 150);
    margin-bottom: 14px;
}
p {
    color: rgb(150, 150, 150);
    font-size: 20px;
}
.headlines {
    width: 100%;
    text-align: center;
    padding: 20px 0 20px 0;
}


/* Navigation */
nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: rgb(20, 28, 20);
}
.navigation {
    padding-right: 20px;
    font-size: 24px;
    color: whitesmoke;
    text-decoration: none;
    position: relative;
    transition: color 1s;
}
.navigation:hover {
    color: rgb(0, 255, 0);
}

/* Main */
.main {
    width: 100%;
    height: 1000px;
    background-size: cover;
    background-image: url(pictures/forest.JPG);
    padding: 50px 0px 50px 0px;
    display: flex;
    align-items: center;
}
.home-text {
    width: 600px;
    color: whitesmoke;
    margin-left: 10%;
}
#explanation {
    font-size: 22px;
}

/* About */
.about {
    display: flex;
    align-items: center;
    justify-content: center;
}
#about {
    width: 500px;
}
.about-container {
    margin: 20px;
}
#about-text {
    width: 500px;
}
#about-picture {
    width: 500px;
    border-radius: 50%;
    margin: 20px;
}

/* Expertise */
.expertise {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    background-color: rgb(236, 255, 232);
}
.icons {
    width: 100px;
}
.skills-text {
    width: 300px;
}

/* Work */
.work {
    padding: 50px 0px 50px 0px;
    width: 100%;
}
.work-experience{
    display: flex;
    align-items: center;
    padding-top: 50px;
}
.work-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.work-text {
    width: 600px;
}
.images {
    width: 600px;
    border-radius: 10px;
    border: 1px solid black;
    position: relative;
}
.images:hover {
    opacity: 0.9;
    background-color: black;
}
.work-links {
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}
#lauran-jalkahoitola {
    background-color: rgb(236, 255, 232);
}

/* Contact */
.contact-information {
    background-color: rgb(236, 255, 232);
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact {
    margin: 0px;
}
.form-label {
    font-size: 20px;
    color: rgb(150, 150, 150);
    width: 314px;
}
.form-input {
    width: 300px;
    height: 50px;
    border-radius: 15px;
    font-size: 20px;
}
.form-margin {
    margin-left: 40px;
}
#form-button {
    border-radius: 15px;
    background-color: rgb(20, 28, 20);
    font-size: 20px;
    color: whitesmoke;
    width: 1000px;
    padding: 5px 20px 5px 20px;
    margin-top: 20px;
}
#form-button:hover {
    color: rgb(0, 255, 0);
}
#form-text {
    width: 1000px;
    height: 200px;
    border-radius: 15px;
    font-size: 20px;
}
.form-container {
    display: flex;
    justify-content: left;
}

/* Footer */
footer {
    width: 100%;
    height: 270px;
    background-color: rgb(20, 28, 20);
    display: flex;
    justify-content: center;
    z-index: -1;
}
.footer-box {
    width: 260px;
}
#footer-navigation {
    position: relative;
    left: 80px;
}
.footer-links {
    text-decoration: none;
    font-size: 20px;
    color: rgb(150, 150, 150);
    display: block;
    position: relative;
    transition: color 0.2s;
    width: 65px;
}
.footer-links:hover {
    color: rgb(0, 255, 0)
}
#footer-info {
    color: rgb(150, 150, 150);
}
.footer-headline {
    color: rgb(236, 255, 232);
    margin: 10px 0px 0px 0px;
}
.footer-contact {
    color: rgb(150, 150, 150);
    position: relative;
}
.footer-icon {
    width: 50px;
    margin: 10px;
    position: relative;
}
.footer-icon-link {
    text-decoration: none;
}
.footer-icon-text {
    width: 25px;
    color: rgb(150, 150, 150);
    position: relative;
    top: 3px;
}
.copyright {
    width: 100%;
    height: 25px;
    background-color: rgb(15, 20, 15);
    color: whitesmoke;
}


@media screen and (max-width: 1080px) {
    h1 {
        font-size: 54px;
    }
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 24px;
    }
    li {
        font-size: 18px;
    }
    p {
        font-size: 18px;
    }
    #explanation {
        font-size: 18px;
    }
    .main {
        height: 500px;
    }
    #about-picture {
        width: 350px;
    }
    .images {
        width: 400px;
    }
    .work-text {
        width: 450px;
        font-size: 16px;
    }
    .form-label {
        position: relative;
        width: 244px;
    }
    .form-container {
        justify-content: left;
    }
    .form-input {
        width: 230px;
        font-size: 16px;
    }
    #form-text {
        width: 800px;
        height: 150px;
        position: relative;
        font-size: 16px;
        left: 50%;
        transform: translate(-50%, 0);
    }
    #form-button {
        width: 800px;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }
    footer {
        height: 230px;
    }
    
}


/* @media screen and (max-width: 720px) {
    .images {
        width: 300px;
    }
    #about-picture {
        width: 300px;
    }
    .work-experience {
        display: block;
    }
    .expertise {
        display: block;
    }
    .skills-blocks {
        margin: 0px;
    }
    .skills-text {
        width: 340px;
    }
} */